<html>
        <body>
           
        <header>
          <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRKtbaapNudAWF1FKAADraPYR_YvmDm4P08PMz21wAs8i3w9DE">
          <title>Notes++</title>
                
                <div class="container">
                        <div id="navigation">
                        <h1 class="logo">Navigation menu</h1>
                        <strong><nav>
                    <ul class="menu">
                      <li><a href="{{ url_for('home') }}">Home</a></li>
                      <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                      <li><a href="{{ url_for('loginform') }}">Log in</a></li>
                      <li><a href="{{ url_for('notes') }}">Notes</a></li>
                    </ul>
                  </nav></strong>
                <div id="top">
                
                {% block header %}{% endblock %}
                </div>
                <div id="text">
                {% block text %}{% endblock %}
                </div>

                {% block image %}{% endblock %}

                </div>
                </div>
              </header>
           
    </body>
    

</html>